name: Auto Release PR

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create change
        run: |
          echo "Build $GITHUB_RUN_ID" >> file1.txt
          ls -l

      - name: Create PR
        uses: peter-evans/create-pull-request@v6
        with:
          branch: release
          base: main
          title: "Auto Release PR"
          commit-message: "Update release file"